<footer id="rodape">
    <nav id="rodape-menu">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/sobre">SOBRE</a></li>
            <li><a href="/cursos">CURSOS</a></li>
            <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
            <li><a href="/contato">CONTATO</a></li>
            <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
            <li><a href="/carreira">TRABALHE CONOSCO</a></li>
        </ul>
    </nav>
    <div id="copyright">
        <p> Copyright &copy 2021 Astro&Nota Escola de Música. Todos os direitos reservados</p>
        <p>Desenvolvido por Gabriela Garcia. <br> Background by Hubble Space Telescope | NASA.</p>
    </div>
</footer>