<header>
    <div class ="header">
        <ul>
            <a href="/"><img id="logo" src="../static/img/logo.png" width="200px"></a>
            <li>
                <a href="" target="_blank">
                    <img src="../static/img/icon-facebook.png"/>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img src="../static/img/icon-instagram.png">
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img src="../static/img/icon-youtube.png" />
                </a>
            </li>
        </ul>
    </div>
</header>