<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Página não encontrada | Astro & Nota - Escola de Música</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <div style="text-align: center;">

      <h1>Oops... Página não encontrada :(</h1>

      <img class="img404" src="../static/img/undraw_happy_music_g6wc.svg" width="500px">
      
      <p><a href="/">VOLTAR AO MENU PRINCIPAL</a></p>
    </div>
</body>
</html>