{% extends 'base.html' %}

{% block title %}<title>Curso de Técnica Vocal | Astro&Nota - Escola de Música </title>{% endblock %}

{% block content %}
        <article class="corpo">
            <div class="info-cursos">
                <h2>Curso de Técnica Vocal</h2>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-canto.png" alt="Curso de Técnica Vocal">
                    </figure>
                    <p>As aulas de canto da Astro&Nota contam com uma duração total de até seis semestres. Nelas, o aluno <br>irá aprender o canto, dominando as Técnicas Vocais como:
                    Respiração, Apoio Diafragmático, Postura<br> Corporal, Ressonância, Articulação, Relaxamento, vocalização, etc.</p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda e sexta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Segunda a sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>6 períodos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}
{% block scripts %}{% endblock %}