{% extends 'base.html' %}

{% block title %}<title>Trabalhe Conosco | Astro&Nota - Escola de Música </title>{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">{% endblock %}
{% block content %}
        <article class="corpo">
            <div id="carreira"> 
                <h2>Trabalhe Conosco</h2>
                <p class="descricao">Venha fazer parte do nosso time!</p>
                <form action="mailto:" method="POST" enctype="text/plain" name="curriculo" id="form-curriculo">
                    <div>
                        <label for="nome">*Nome:</label>
                        <input type="text" id="nome" name="usuario_nome" placeholder="Nome Completo"/>
                        <label for="cpf">*CPF:</label>
                        <input type="text" id="cpf" name="usuario_cpf" placeholder="999.999.999-99">
                    </div>
                    <div>
                        <label for="email">*E-mail:</label>
                        <input type="email" id="email" name="usuario_email" placeholder="exemplo@exemplo.com"/>
                        <label for="number">*Telefone:</label>
                        <input type="text" name="usuario_tel" id="number" placeholder="(00) 00000-0000">
                    </div>
                    <div>
                        <label for="atuacao">*Área de Atuação:</label>
                        <select id="atuacao" name="area_atuacao">
                            <option value="" selected>Escolha a área desejada</option>
                            <option value="Adm">Administrativa</option>
                            <option value="Comercial">Comercial</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Professor">Professor(a) de Música</option>
                            <option value="Vendas">Vendas</option>
                        </select>
                    </div>
                    <div>
                        <label>*Anexe seu currículo</label>
                        <input type="file" value="" name="curriculo" id="curriculo">
                    </div>
                    <div>
                        <label for="msg">Mensagem:</label>
                        <textarea id="msg" name="usuario_msg"></textarea>
                    </div>
                    <div>
                        <button type="submit" onclick="validarCurriculo();">ENVIAR DADOS</button>
                    </div>
                </form>
            </div>
        </article>

{% endblock %}
{% block scripts %}{% endblock %}