{% extends 'base.html' %}

{% block title %}<title>Fale Conosco | Astro&Nota - Escola de Música </title>{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">{% endblock %}
{% block content %}
        <article class="corpo">
            <div class="contato">
                <h2>Contato</h2>
                <div class="info-contato">
                    <p>Av. Expedicionário Osvaldo Almeida Ramos nº 280, Centro – Vassouras – RJ – CEP: 27700-000 </p>
                    <p>
                        Tel/Fax: (24) 2471-XXXX | contato@astroenota.com.br
                    </p>
                    <p>
                        Horários de Funcionamento: 8h às 17h de segunda a sexta e sábado de 8h às 16h.
                    </p>
                </div>
                <h3>Formulário de Contato</h3>
                <form method="POST" 
                    enctype="text/plain" 
                    name="contato" 
                    id="form-contato"
                >
                    <div>
                        <label for="nome">*Nome:</label>
                        <input type="text" id="nome" name="usuario_nome" />
                    </div>
                    <div>
                        <label for="email">*E-mail:</label>
                        <input type="email" id="email" name="usuario_email"/>
                    </div>
                    <div>
                        <label for="assunto">*Assunto:</label>
                        <input type="text" id="assunto" name="usuario_assunto" />
                    </div>
                    <div>
                        <label for="msg">*Mensagem:</label>
                        <textarea id="msg" name="usuario_msg"></textarea>
                    </div>
                    <div>
                        <button type="submit" value="submit" onclick="validarContato();">ENVIAR MENSAGEM</button>
                    </div>
                </form>
            </div>
            <div id="localizacao">
                <h3>Venha nos fazer uma visita</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471922.72234762367!2d-44.143960933844134!3d-22.470532073885476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9930cf7c22de05%3A0xc63f64f24c89cbf6!2sUniversidade%20de%20Vassouras!5e0!3m2!1spt-BR!2sbr!4v1589293329884!5m2!1spt-BR!2sbr" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa">
                </iframe>
            </div>
        </article>
        
{% endblock %}
{% block scripts %}{% endblock %}