{% extends 'base.html' %}

{% block title %}<title>Cursos de Instrumentos de Corda | Astro&Nota - Escola de Música </title>{% endblock %}

{% block content %}
        <article class="corpo">
            <div class="info-cursos">
                <h2>Cursos de Instrumentos de Corda</h2>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-violao.png" alt="Curso de Violão">
                    </figure>
                    <p>As aulas de violão tem sua metodologia voltada para atender a sua necessidade passando pelos<br> estilos musicais de 
                    seu interesse, desde o clássico ao popular. Nas aulas de violão da Astro&Nota você<br> irá aprender a formação de 
                    acordes, tensões, escalas e muito mais. Tudo isso para melhorar cada vez<br> mais o seu domínio do instrumento.<br></p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda e sexta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Segunda a sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>Nosso curso básico inclui dois anos de estudo, abrangendo todos os acordes, tonalidades e ritmos<br> diversos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-violino.png" alt="Curso de Violino">
                    </figure>
                    <p>As aulas de violino da Astro&Nota fazem com que o aluno aprenda desde técnicas mais simples até as<br> mais bem 
                    desenvolvidas. O estudo de partitura e Teoria Musical dá a base necessária para execução<br> do instrumento.</p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda e sexta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Segunda a sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>Nosso curso básico inclui dois anos de estudo, abrangendo todos os acordes, tonalidades e ritmos<br> diversos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-guitarra.png" alt="Curso de Guitarra">
                    </figure>
                    <p>As aulas de guitarra da Astro&Nota contam com uma metodologia muito avançada! Aqui você irá<br> aprender e desenvolver 
                    técnicas como a palhetada alternada, sweep, tapping, hammer on, pull off e<br>muito mais.</p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda e sexta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Segunda a sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>Nosso curso de guitarra está dividido em três níveis: Básico, Fundamental e Avançado, com quatro<br>módulos de 20 aulas para cada nível.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}
{% block scripts %}{% endblock %}