{% extends 'base.html' %}

{% block title %}<title>Nossos Cursos | Astro&Nota - Escola de Música </title>{% endblock %}

{% block content %}
<article class="corpo">
    <div id="cursos">
        <h2>Nossos Cursos</h2>
        <p class="descricao">"Quem faz música inspira sonhos, inspira amor."</p>
        <table id="cursos">
            <tr>
                <td>
                    <a href="/sopro">
                        <figure>
                            <img src="../static/img/curso-sopro.png" alt="Instrumentos de Sopro" width="220px">
                            <figcaption>Instrumentos de Sopro</figcaption>
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="/corda">
                        <figure>
                            <img src="../static/img/curso-corda.png" alt="Instrumentos de Corda" width="220px">
                            <figcaption>Instrumentos de Corda</figcaption>
                        </figure>
                    </a>
                </td>
                <td>
                   <a href="/piano">
                       <figure>
                            <img src="../static/img/curso-piano.png" alt="Piano e Teclado" width="220px">
                            <figcaption>Piano e Teclado</figcaption>
                       </figure>
                   </a>
                </td>
                <td>
                    <a href="/canto">
                        <figure>
                             <img src="../static/img/curso-canto.png" alt="Curso de Técnica Vocal" width="220px">
                             <figcaption>Curso de Técnica Vocal</figcaption>
                        </figure>
                    </a>
                 </td>
            </tr>
        </table>
    </div>
</article>
{% endblock %}

{% block scripts %}{% endblock %}