{% extends 'base.html' %}

{% block title %}<title>Astro&Nota - Escola de Música </title>{% endblock %}
{% block content %}
        <article class="corpo">
            <div id="boas-vindas">
                <header>
                    <h1>"Quem faz música inspira sonhos, inspira amor."</h1>
                    <img src="../static/img/logo-inicio.png" width="500px">
                </header>
            </div>
            <div id="cursos">
                <h2>Nossos Cursos</h2>
                <table id="cursos">
                    <tr>
                        <td>
                            <a href="/sopro">
                                <figure>
                                    <img src="../static/img/curso-sopro.png" alt="Instrumentos de Sopro" width="220px">
                                    <figcaption>Instrumentos de Sopro</figcaption>
                                </figure>
                            </a>
                        </td>
                        <td>
                            <a href="/corda">
                                <figure>
                                    <img src="../static/img/curso-corda.png" alt="Instrumentos de Corda" width="220px">
                                    <figcaption>Instrumentos de Corda</figcaption>
                                </figure>
                            </a>
                        </td>
                        <td>
                           <a href="/piano">
                               <figure>
                                    <img src="../static/img/curso-piano.png" alt="Piano e Teclado" width="220px">
                                    <figcaption>Piano e Teclado</figcaption>
                               </figure>
                           </a>
                        </td>
                        <td>
                            <a href="/canto">
                                <figure>
                                     <img src="../static/img/curso-canto.png" alt="Curso de Técnica Vocal" width="220px">
                                     <figcaption>Curso de Técnica Vocal</figcaption>
                                </figure>
                            </a>
                         </td>
                    </tr>
                </table>
            </div>
            <div id="depoimentos">
                <h2>Depoimentos</h2>
                <div>
                    <img src="../static/img/depoimento1.png" alt="Depoimento Ana Clara" width="1000px">
                    <img src="../static/img/depoimento2.png" alt="Depoimento Arthur" width="1000px">
                    <img src="../static/img/depoimento3.png" alt="Depoimento João" width="1000px">
                </div>
            </div>
        </article>

{% endblock %}
{% block scripts %}{% endblock %}