<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pré-Matrícula | Astro&Nota - Escola de Música </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">
        <script src="{{url_for('static', filename='js/funcoes.js')}}"></script>
    </head>
    <body>
        <header>
            <div class ="header">
                <ul>
                    <a href="/"><img id="logo" src="../static/img/logo.png" width="200px"></a>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-facebook.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-instagram.png">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-youtube.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div>
            <nav id="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
        </div>
        <article class="corpo">
            <div id="pre-matricula">
                <h2>Pré-Matrícula</h2>
                <p class="descricao">Preencha o formulário abaixo e realize a sua pré-matrícula</p>
                <form method="post" action="mailto:" enctype="text/plain" name="matricula" id="form-matricula">
                    <div>
                        <div>
                            <label for="nome">*Nome:</label>
                            <input type="text" name="usuario_nome" id="nome" placeholder="Nome Completo">
                            <label>*Sexo:</label>
                            <input type="radio" class="radioB" name="usuario_sexo" id="sexo" value="M">Masculino
                            <input type="radio" class="radioB" name="usuario_sexo" id="sexo" value="F">Feminino
                        </div>
                        <div>
                            <label for="nasc">*Data de Nascimento:</label>
                            <input type="date" name="dataNasc" id="nasc">
                            <label for="CEP">*CEP:</label>
                            <input type="text" name="usuario_cep" id="CEP" placeholder="00000-000" maxlength="10">
                        </div>
                        <div>
                            <label for="end">*Endereço:</label>
                            <input type="text" name="usuario_end" id="end">
                            <label for="end_num">*Número: </label>
                            <input type="text" name="endereco_num" id="end_num">
                        </div>
                        <div>
                            <label for="end_comp">Complemento: </label>
                            <input type="text" name="endereco_comp" id="end_comp">
                            <label for="end_bairro">*Bairro: </label>
                            <input type="text" name="endereco_bairro" id="end_bairro">
                        </div>
                        <div>
                            <label for="cidade">*Município:</label>
                            <input type="text" name="usuario_municipio" id="cidade">
                            <label for="uf">*UF:</label>
                            <input type="text" name="usuario_uf" id="uf">
                        </div>
                        <div>
                            <label for="email">*E-mail:</label>
                            <input type="email" name="usuario_mail" id="email" placeholder="exemplo@exemplo.com">
                            <label for="number">*Telefone:</label>
                            <input type="text" name="usuario_tel" id="number" placeholder="(00) 00000-0000">
                        </div>
                        <div>
                            <label for="cursos">*Curso:</label>
                            <select id="cursos" name="curso">
                                <option value="" selected>Escolha um curso</option>
                                <optgroup label="Instrumentos de Corda">
                                    <option value="Guitarra">Guitarra</option>
                                    <option value="Violão">Violão</option>
                                    <option value="Violino">Violino</option>
                                </optgroup>
                                <optgroup label="Instrumentos de Sopro">
                                    <option value="Saxofone">Saxofone</option>
                                    <option value="Clarinete">Clarinete</option>
                                </optgroup>
                                <optgroup label="Piano e Teclado">
                                    <option value="Piano">Piano</option>
                                    <option value="Teclado">Teclado</option>
                                </optgroup>
                                <optgroup label="Técnica Vocal">
                                    <option value="Canto">Canto</option>
                                </optgroup>
                            </select>
                            <label>*Turno:</label>
                            <input type="radio" name="turno" value=tManha" class="radioB">Manhã
                            <input type="radio" name="turno" value="tTarde" class="radioB">Tarde
                        </div>
                        <div>
                            <button type="submit" onclick="validarMatricula();">ENVIAR</button>
                            <button type="reset">LIMPAR CAMPOS</button>
                        </div>
                    </div>
                  </form>  
            </div>
        </article>
        <footer id="rodape">
            <nav id="rodape-menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
            <div id="copyright">
                <p> Copyright &copy 2021 Astro&Nota Escola de Música. Todos os direitos reservados</p>
                <p>Desenvolvido por Gabriela Garcia. <br> Background by Hubble Space Telescope | NASA.</p>
            </div>
        </footer>
    </body>
</html>