{% extends 'base.html' %}

{% block title %}<title>Pré-matrícula | Astro&Nota - Escola de Música </title>{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">{% endblock %}
{% block content %}
        <article class="corpo">
            <div id="pre-matricula">
                <h2>Pré-Matrícula</h2>
                <p class="descricao">Preencha o formulário abaixo e realize a sua pré-matrícula</p>
                <form method="post" enctype="text/plain" name="matricula" id="form-matricula">
                    <div>
                        <div>
                            <label for="nome">*Nome:</label>
                            <input type="text" name="usuario_nome" id="nome" placeholder="Nome Completo">
                            <label>*Sexo:</label>
                            <input type="radio" class="radioB" name="usuario_sexo" id="sexo" value="M">Masculino
                            <input type="radio" class="radioB" name="usuario_sexo" id="sexo" value="F">Feminino
                        </div>
                        <div>
                            <label for="nasc">*Data de Nascimento:</label>
                            <input type="date" name="dataNasc" id="nasc">
                            <label for="CEP">*CEP:</label>
                            <input type="text" name="usuario_cep" id="CEP" placeholder="00000-000" maxlength="10">
                        </div>
                        <div>
                            <label for="end">*Endereço:</label>
                            <input type="text" name="usuario_end" id="end">
                            <label for="end_num">*Número: </label>
                            <input type="text" name="endereco_num" id="end_num">
                        </div>
                        <div>
                            <label for="end_comp">Complemento: </label>
                            <input type="text" name="endereco_comp" id="end_comp">
                            <label for="end_bairro">*Bairro: </label>
                            <input type="text" name="endereco_bairro" id="end_bairro">
                        </div>
                        <div>
                            <label for="cidade">*Município:</label>
                            <input type="text" name="usuario_municipio" id="cidade">
                            <label for="uf">*UF:</label>
                            <input type="text" name="usuario_uf" id="uf">
                        </div>
                        <div>
                            <label for="email">*E-mail:</label>
                            <input type="email" name="usuario_mail" id="email" placeholder="exemplo@exemplo.com">
                            <label for="number">*Telefone:</label>
                            <input type="text" name="usuario_tel" id="number" placeholder="(00) 00000-0000">
                        </div>
                        <div>
                            <label for="cursos">*Curso:</label>
                            <select id="cursos" name="curso">
                                <option value="" selected>Escolha um curso</option>
                                <optgroup label="Instrumentos de Corda">
                                    <option value="Guitarra">Guitarra</option>
                                    <option value="Violão">Violão</option>
                                    <option value="Violino">Violino</option>
                                </optgroup>
                                <optgroup label="Instrumentos de Sopro">
                                    <option value="Saxofone">Saxofone</option>
                                    <option value="Clarinete">Clarinete</option>
                                </optgroup>
                                <optgroup label="Piano e Teclado">
                                    <option value="Piano">Piano</option>
                                    <option value="Teclado">Teclado</option>
                                </optgroup>
                                <optgroup label="Técnica Vocal">
                                    <option value="Canto">Canto</option>
                                </optgroup>
                            </select>
                            <label>*Turno:</label>
                            <input type="radio" name="turno" value=tManha" class="radioB">Manhã
                            <input type="radio" name="turno" value="tTarde" class="radioB">Tarde
                        </div>
                        <div>
                            <button type="submit" onclick="validarMatricula();">ENVIAR</button>
                            <button type="reset">LIMPAR CAMPOS</button>
                        </div>
                    </div>
                  </form>  
            </div>
        </article>
        
{% endblock %}
{% block scripts %}{% endblock %}