<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cursos de Piano e Teclado | Astro&Nota</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <header>
            <div class ="header">
                <ul>
                    <a href="/"><img id="logo" src="../static/img/logo.png" width="200px"></a>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-facebook.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-instagram.png">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-youtube.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div>
            <nav id="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
        </div>
        <article class="corpo">
            <div class="info-cursos">
                <h2>Cursos de Piano e Teclado </h2>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-piano.png" alt="Curso de Piano">
                    </figure>
                    <p>As aulas de piano e teclado da Astro&Nota têm como objetivo levar o aluno ao conhecimento e<br> prática de diversos estilos musicais.
                    Ao estudar piano você terá a possibilidade de desenvolver sua<br> capacidade auditiva já que executará músicas de ouvido, bem como aprenderá a leitura de cifras e de<br> partituras.
                    </p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda e sexta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Segunda a sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>4 módulos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-teclado.png" alt="Curso de Teclado">
                    </figure>
                    <p>Nosso curso de teclado abrange a música popular nos seus vários estilos e o gospel tão divulgado<br> na atualidade, sendo de três anos o curso completo.
                    </p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda e sexta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Segunda a sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>6 módulos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
            </div>
        </article>

        <footer id="rodape">
            <nav id="rodape-menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
            <div id="copyright">
                <p> Copyright &copy 2021 Astro&Nota Escola de Música. Todos os direitos reservados</p>
                <p>Desenvolvido por Gabriela Garcia. <br> Background by Hubble Space Telescope | NASA.</p>
            </div>
        </footer>
    </body>
</html>