  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sobre Nós | Astro&Nota - Escola de Música </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}">
        <script src="{{url_for('static', filename='js/funcoes.js')}}"></script>
    </head>
    <body>
        <header>
            <div class ="header">
                <ul>
                    <a href="/"><img id="logo" src="../static/img/logo.png" width="200px"></a>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-facebook.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-instagram.png">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-youtube.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div>
            <nav id="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
        </div>
        <article class="corpo"> 
            <div id="sobre">
                <h2>Sobre Nós</h2>
                <p>Apoiados por profissionais experientes, qualificados e certificados, a Astro&Nota se orgulha de oferecer uma estrutura de<br>alta qualidade e eficiência para seus alunos.</p>
                <p>A Astro&Nota possui equipamentos de ponta para que você possa aprender com todo conforto e segurança e ter a certeza<br> de que está tocando com instrumentos de qualidade.
                Todas as salas de aula são acusticamente preparadas e devidamente<br> climatizadas, um lugar confortável e gostoso de estar.</p>
                <p>Com todo esse padrão de qualidade, temos a certeza de que em pouco tempo você irá se tornar um músico de verdade.</p>
                <p>Faça a sua <a href="/matricula">pré-matricula</a> agora mesmo e comece a aprender música!</p>
                <table id="img-sobre">
                    <tr>
                        <td><img src="../static/img/foto-sobre.jpeg" width="500px" height="300px"></td>
                        <td><img src="../static/img/foto-sobre2.jpeg" width="500px" height="300px"></td>
                    </tr>
                </table>
            </div> 
        </article>
        <footer id="rodape">
            <nav id="rodape-menu">
                <nav id="rodape-menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/sobre">SOBRE</a></li>
                        <li><a href="/cursos">CURSOS</a></li>
                        <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                        <li><a href="/contato">CONTATO</a></li>
                        <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                        <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                    </ul>
                </nav>
            </nav>
            <div id="copyright">
                <p> Copyright &copy 2021 Astro&Nota Escola de Música. Todos os direitos reservados</p>
                <p>Desenvolvido por Gabriela Garcia. <br> Background by Hubble Space Telescope | NASA.</p>
            </div>
        </footer>
    </body>
</html>