  
{% extends 'base.html' %}

{% block title %}<title>Sobre Nós | Astro&Nota - Escola de Música </title>{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    <article class="corpo"> 
        <div id="sobre">
            <h2>Sobre Nós</h2>
            <p>Apoiados por profissionais experientes, qualificados e certificados, a Astro&Nota se orgulha de oferecer uma estrutura de<br>alta qualidade e eficiência para seus alunos.</p>
            <p>A Astro&Nota possui equipamentos de ponta para que você possa aprender com todo conforto e segurança e ter a certeza<br> de que está tocando com instrumentos de qualidade.
            Todas as salas de aula são acusticamente preparadas e devidamente<br> climatizadas, um lugar confortável e gostoso de estar.</p>
            <p>Com todo esse padrão de qualidade, temos a certeza de que em pouco tempo você irá se tornar um músico de verdade.</p>
            <p>Faça a sua <a href="/matricula">pré-matricula</a> agora mesmo e comece a aprender música!</p>
            <table id="img-sobre">
                <tr>
                 <td><img src="../static/img/foto-sobre.jpeg" width="500px" height="300px"></td>
                    <td><img src="../static/img/foto-sobre2.jpeg" width="500px" height="300px"></td>
                </tr>
            </table>
        </div> 
    </article>
    
{% endblock %}
{% block scripts %}{% endblock %}