<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cursos de Instrumentos de Sopro | Astro&Nota</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <header>
            <div class ="header">
                <ul>
                    <a href="/"><img id="logo" src="../static/img/logo.png" width="200px"></a>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-facebook.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-instagram.png">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../static/img/icon-youtube.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div>
            <nav id="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
        </div>
        <article class="corpo">
            <div class="info-cursos">
                <h2>Cursos de Instrumentos de Sopro</h2>
                <div>
                    <figure class="capa-cursos">
                        <img src="img/capa-sax.png" alt="Curso de Saxofone">
                    </figure>
                    <p>Nas aulas de saxofone o aluno irá aprender a respirar corretamente. Ele também irá aprender<br> técnicas próprias do instrumento, tais como: digitação, embocadura, staccato, ataque duplo,<br>
                    respiração circular e superagudos. Na Astro&Nota, o aluno também irá desenvolver habilidades <br> como postura, presença de palco com o instrumento e utilização solo, trio, orquestra e bandas.</p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda a sexta.</p>
                    <h4>Dias:</h4>
                    <p>Segunda, Quarta e Sexta.</p>
                    <h4>Carga Horária:</h4>
                    <p>Nosso curso abrange 4 módulos de 20 aulas, totalizando dois anos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
                <div>
                    <figure class="capa-cursos">
                        <img src="img/capa-clarinete.png" alt="Curso de Clarinete">
                    </figure>
                    <p>O curso de clarinete da Astro&Nota é estruturado com base em 4 estudos principais: técnica, leitura,<br> harmonia aplicada e repertório. 
                    Todos eles são trabalhados desde a primeira aula fazendo com que <br> o aluno desenvolva várias habilidades e aprenda mais rápido. </p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de terça e quinta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Terça, Quinta e Sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>O curso de clarinete é dividido em 4 módulos sendo: BÁSICO, TÉCNICO 1, 2 e 3. <br>Duração de 2 anos e meio.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
            </div>
        </article>

        <footer id="rodape">
            <nav id="rodape-menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/cursos">CURSOS</a></li>
                    <li><a href="/#depoimentos">DEPOIMENTOS</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/matricula">PRÉ-MATRÍCULA</a></li>
                    <li><a href="/carreira">TRABALHE CONOSCO</a></li>
                </ul>
            </nav>
            <div id="copyright">
                <p> Copyright &copy 2021 Astro&Nota Escola de Música. Todos os direitos reservados</p>
                <p>Desenvolvido por Gabriela Garcia. <br> Background by Hubble Space Telescope | NASA.</p>
            </div>
        </footer>
    </body>
</html>