{% extends 'base.html' %}

{% block title %}<title>Cursos de Instrumentos de Sopro | Astro&Nota - Escola de Música </title>{% endblock %}

{% block content %}
        <article class="corpo">
            <div class="info-cursos">
                <h2>Cursos de Instrumentos de Sopro</h2>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-sax.png" alt="Curso de Saxofone">
                    </figure>
                    <p>Nas aulas de saxofone o aluno irá aprender a respirar corretamente. Ele também irá aprender<br> técnicas próprias do instrumento, tais como: digitação, embocadura, staccato, ataque duplo,<br>
                    respiração circular e superagudos. Na Astro&Nota, o aluno também irá desenvolver habilidades <br> como postura, presença de palco com o instrumento e utilização solo, trio, orquestra e bandas.</p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de segunda a sexta.</p>
                    <h4>Dias:</h4>
                    <p>Segunda, Quarta e Sexta.</p>
                    <h4>Carga Horária:</h4>
                    <p>Nosso curso abrange 4 módulos de 20 aulas, totalizando dois anos.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
                <div>
                    <figure class="capa-cursos">
                        <img src="../static/img/capa-clarinete.png" alt="Curso de Clarinete">
                    </figure>
                    <p>O curso de clarinete da Astro&Nota é estruturado com base em 4 estudos principais: técnica, leitura,<br> harmonia aplicada e repertório. 
                    Todos eles são trabalhados desde a primeira aula fazendo com que <br> o aluno desenvolva várias habilidades e aprenda mais rápido. </p>
                    <h4>Horários:</h4>
                    <p>Escolha o horário que melhor atende você! 8h às 17h de terça e quinta e sábado de 8h às 11h.</p>
                    <h4>Dias:</h4>
                    <p>Terça, Quinta e Sábado.</p>
                    <h4>Carga Horária:</h4>
                    <p>O curso de clarinete é dividido em 4 módulos sendo: BÁSICO, TÉCNICO 1, 2 e 3. <br>Duração de 2 anos e meio.</p>
                    <div>
                        <a href="/matricula">Faça a sua pré-matricula</a>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}
{% block scripts %}{% endblock %}